#fabrica-de-software {
  @media (min-width: $breakpoint-large) {
    .block-title {
      h1 {
        width: 40%;
      }
    }
  }

  .uk-card-body {
    border: 1px solid #e9e9e9;
    margin-top: 40px;
    background-color: #fff;

    h3 {
      color: #19919e;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: bold;
    }

    .uk-button-default {
      border: 1px solid #97cfd4;
      color: #fff;
      background-color: #00b4c3;
    }

  }

  .uk-responsive-width {
    width: 100%;
  }

  .uk-card-media-bottom{
    margin-bottom: 30px;
  }
}
