#informacoes-delogic{
    h1{
        font-weight: 100;
        color: #4099bb;
    }

    p{
        color: #a6a6a6;
    }

    @media(min-width: $breakpoint-large){
        .block-title{
            width: 41%;
        }
    }

    .block-button{
        background-color: $blue-delogic;

        .content{
            h3, p{
                color: #fff;
                font-weight: 100;
            }
            
        }

        .uk-button-default{
            color: #fff;
            margin-bottom: 5px;
            background-color: #00aac5;
            border-color: #00aac5;
            font-weight: bold;

            @media(max-width: $breakpoint-medium){
                line-height: 23px;
            }
        }
    }
}