#icons-segmentos {
  .block-segmento {
    position: relative;
    margin-bottom: 40px;
    padding: 32px;

    .icons {
      background-color: $blue-delogic;
      border-radius: 50%;
      width: 73px;
      height: 73px;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: center;
      margin: 0 auto 10px;

      > img {
        max-width: 40px;
      }
    }

    .segmento {
      color: #a6a6a6;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .block-segmento:hover {
    background: #fff;
    text-align: center;
    border-radius: 15px;
    
    .btn-segmento {
      display: block;
      text-decoration: none;
    }
  }

  .btn-segmento {
    position: absolute;
    bottom: -29px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: $blue-delogic;
    color: #fff;
    height: 31px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900 !important;
    display: none;
  }

  .uk-button{
    padding: 0px!important;
  }
}
